:root {
  --accent-color: rgb(207, 148, 57);
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

#main-part {
  color: var(--accent-color);
  width: 70%;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  border: 5px solid var(--accent-color);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  transform: translateY(2.5rem);
}

#header {
  display: flex !important;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#image-input {
  display: flex !important;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#input-section {
  display: flex !important;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  text-align: left;
}

#text-field {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

#buttons {
  display: flex !important;
  flex-direction: row;
  gap: 1rem;
}
