:root {
  --accent-color: rgb(207, 148, 57);
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

#header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem;
  padding-bottom: 0.8rem;
  justify-content: center;
  align-items: center;
}

#header h1 {
  grid-column: 2;
}

#summary-main-part {
  color: var(--accent-color);
  width: 70%;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  border: 5px solid var(--accent-color);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  transform: translateY(2.5rem);
}

#summary {
  top: 0;
  overflow: auto;
  height: 775px;
}

#summary::-webkit-scrollbar {
  display: none;
}

#summary ul {
  margin: 0 0.5rem 1rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

#summary ul li {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  padding: 0.5rem 5rem 0.5rem 0;
  align-items: center;
}

#summary ul li:last-child {
  grid-column: 2;
}

#summary ul li img{
  width: 125px;
  height: 125px;
  object-fit: contain;
  margin: 0 0.5rem 0 0.5rem;
}

#summary ul li p{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding-left: 1rem;
}

#share-box button {
  gap: 1rem;
  margin: 3px 3px 0 0;
  display: flex;
  grid-column: 3;
  width: 170px;
  justify-self: end;
  font-size: 2rem;
}